[Unit]
Description=Runs PiHole health check.
Wants=pihole-health.timer

[Service]
ExecStart="/usr/bin/make health-check"
WorkingDirectory=$PWD

[Install]
WantedBy=multi-user.target
